:root {
    --primery-text-color:#212121;
    --title-text-color: #212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color:#FFFFFF;
}
.body {
    background-color:var(--primary-bg-color) ;
    font-family: 'Roboto', sans-serif;
    color: #212121;
          
}

*{
    text-decoration: none;
}
.text{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    color: var(--text-color);
}

ul{ list-style: none;}

/* navi */
.site-nav .link{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
        color: var(--accent-color);
}

.site-nav .link.current
.site-nav .link.current:active
{
    
        /* font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em; */
    color: var(--accent-color);
}

/* address */
.mail-nav{
    color: var(--text-color) ;
}
.mail-nav:hover,
.mail-nav:focus
.mail-nav:active {
    color: var(--accent-color);
}
.mail{
    color: rgba(255, 255, 255, 0.6);;
}
.mail:hover,
.mail:focus
.mail:active{
    color: var(--accent-color) ;
}
.tel{
    color: var(--text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
}
.tel:active,
.tel:hover,
.tel:focus{
    color:var(--accent-color);
}


/* logo */
.logo, .logo-item, .logo-footer{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
}
.logo{
    color: var(--accent-color) ;
}
.logo-item{
    color: var(--title-text-color);
}

/* hero */
.hero{
    
    background-color: #2F303A;
}
.hero-title{
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
      
        letter-spacing: 0.06em;
        text-transform: uppercase;
    color: #FFFFFF;
}

/* h2,h3 */
.section-title {
       
    color: var(--title-text-color);
}
.title{
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
}

/* font section */
.section-1 .section-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        
        letter-spacing: 0.03em;
}
.section-2 .section-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        
        letter-spacing: 0.03em;
}
.section-1 .section{
    background-color: #E5E5E5;
}
.section-2 {
    background-color: #F5F4FA;
}
.title-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        letter-spacing: 0.03em;
        color:var(--primery-text-color);
}
.text-team{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
       letter-spacing: 0.03em;
}


/* button */
.button {
        
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: var(--accent-color);
         color: var(--primary-bg-color);
         cursor: pointer;
}
/* podval */
.footer{
    background-color: #2F303A;
}
.maps-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
}

.maps-footer:hover,
.maps-footer:focus {
    color: var(--accent-color);
}
.footer .mail.tel{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.logo-footer{
    color: var(--primary-bg-color);
}


/* portfolio */
.button-portfolio{
    color: var(--primery-text-color);
        cursor: pointer;
        background-color: var(--primary-bg-color);
}
.button-text:active
.button-text:hover
.button-text:focus{
color: var(--primary-bg-color);
background-color: var(--accent-color);
}